<div class="game-wrapper">
  <div class="header">
    <div class="header-chain-length">Chain Length: {{ wordChain.length }}</div>
    <h1 class="header-title">Link-A-Word</h1>
    <div class="header-score">Score: {{ score }}</div>
    <app-timer></app-timer>
  </div>
  <div class="next-letter">{{ nextLetter }}</div>
  <input
    #inputField
    type="text" 
    class="user-input" 
    (input)="onInput($event)"
    (keydown.enter)="onSubmit()"
    [(ngModel)]="userInput"
    [style.color]="userInputColor"
    [placeholder]="nextLetter"
  >
  <div class="word-chain">
    <div class="word-chain-row" *ngFor="let word of wordChain">
      <div class="word-chain-link">
        {{ word }}   &rarr;
      </div>
    </div>
  </div>
</div>