.game-wrapper, .game-menu, .word {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: auto;
    padding: 30px;
}

.countdown {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    font-size: 5em;
    color: red;
}

.letter-text {
    font-weight: bold;
}

.letter-stats {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-weight: bold;
}

.points {
    border-radius: 4px;
    font-weight: bold;
}

.header {
    display: flex;
    justify-content: center;
    text-align: center;
}

.sub-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
    width: 100vw;
}

.sub-header-item {
    display: flex;
    align-items: center;
    gap: 5px;
}

.header-label {
    font-weight: bold;
    font-size: 1.2em;
}

.header-value {
    font-size: 1.2em;
}

.header-title {
    text-decoration: bold;
    text-align: center;
    font-size: 2.5em;
}

.header-subtitle {
    font-size: 1em;
    text-align: center;
    width: 65%;
}

.next-letter {
    text-decoration: bold;
    text-align: center;
    font-size: 2.25em;
    height: 21px;
}

.user-input {
    background: transparent;
    border: transparent;
    border-bottom: 1px solid white;
    text-align: center;
    margin-top: 40px;
    padding: 15px;
    font-size: 2.25em;
    outline: none;
    max-width: fit-content;
    height: 21px;
}

.word-chain {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px 35px;
}

.word-chain-row {
    display: flex;
}

.word-chain-link {
    padding: 10px 4px;
    font-size: 1.5rem;
}
