.game-wrapper, .game-over, .game-menu, .word {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: auto;
    padding: 30px;
}

.chain-results {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75vw;
}

.chain-results-word {
    display: flex;
    flex-direction: column;
    font-family: 'Times New Roman', Times, serif;
}

.chain-results-word {
    list-style: none;
    width: 65%;
    text-align: left;
    background-color: #454545;
    padding: 20px;
    border-radius: 15px;
    border: 4px solid white;
    margin-bottom: 20px;
}

.chain-results-word-header {
    text-align: center;
    font-size: 1.5em;
    text-decoration: bold;
}

.definitions li {
    padding: 10px 0;
}

.stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.stats-item {
    margin-bottom: 5px;
}

.total-points {
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #FFD700;
}

.word-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.stats-header {
    display: flex;
    justify-content: start;
    align-items: center;
    padding-top: 15px;
}

.word-text {
    font-size: 1.25em;
    text-decoration: bold;
}

.arrow-icon {
    font-size: 1.2em;
    transition: transform 0.2s ease;
}
.arrow-icon.open {
    transform: rotate(90deg);
}

.game-rules {
    display: flex;
    flex-direction: column;
    width: 75vw;
}

.point-system {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
}

.point-system-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.point-system-list li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.letter-text {
    font-weight: bold;
}

.letter-stats {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-weight: bold;
}

.points {
    border-radius: 4px;
    font-weight: bold;
}

.rule {
    padding: 10px 0;
}

.header {
    display: flex;
    justify-content: space-evenly;
}

.header-title {
    text-decoration: bold;
    text-align: center;
    font-size: 2.5em;
}

.header-subtitle {
    font-size: 1em;
    text-align: center;
    width: 65%;
}

.high-score {
    color: #FFD700;
}

.next-letter {
    text-decoration: bold;
    text-align: center;
    font-size: 2.25em;
}

.user-input {
    background: transparent;
    border: transparent;
    border-bottom: 1px solid white;
    text-align: center;
    margin-top: 40px;
    padding: 15px;
    font-size: 2.25em;
    outline: none;
    max-width: fit-content;
}

.word-chain {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px 35px;
}

.word-chain-row {
    display: flex;
}

.word-chain-link {
    padding: 10px 4px;
    font-size: 1.5rem;
}

.back-button {
    text-decoration: none;
    font-size: 2em;
    padding-left: 20px;
}
