<div class="game-menu" *ngIf="!hasGameStarted && !showGameOverScreen">
  <ng-container *ngTemplateOutlet="showRules ? gameRules : gameMenu"></ng-container>
</div>

<ng-template #gameMenu>
  <h1 class="header-title">Link-A-Word</h1>
  <div class="intro-text">
    <div class="intro-header">{{ introText }}</div>
    <a href="#" class="show-rules" (click)="displayRules()">Rules</a>
  </div>
  <button class="button-success" (click)="playAgain()">START GAME</button>
</ng-template>

<ng-template #gameRules>
  <div class="game-rules">
    <a class="back-button" href="#" (click)="hideRules()">&#8592;</a>
    <h1 class="header-title rules">Rules</h1>
    <ul class="rules-list">
      <li class="rule" *ngFor="let rule of rules">{{ rule }}</li>
    </ul>
  </div>
  <div class="point-system">
    <h1 class="header-title point-system">Point System</h1>
    <h3 class="header-subtitle">The least common letters in the English language are worth the most points.</h3>
    <ul class="point-system-list">
      <li class="letter" *ngFor="let letter of alphabet">
        <span class="letter-text">{{ letter }} .......... {{ letterPoints[letter] }}</span>
      </li>
    </ul>
  </div>
</ng-template>

<div class="game-over" *ngIf="showGameOverScreen">
  <h1>GAME OVER</h1>
  <h2>RESULTS:</h2>
  <h3>Chain Length: {{ wordChain.length }}</h3>
  <h3 *ngIf="score <= highScore">Score: {{ score.toLocaleString() }}</h3>
  <h3 class="high-score" *ngIf="score > highScore && showGameOverScreen">NEW HIGH SCORE! {{ score.toLocaleString() }}</h3>
  <div class="chain-results">
    <h2>YOUR CHAIN</h2>
    <div class="chain-results-word" *ngFor="let word of wordChain">
      <div class="word-header" (click)="toggleDropdown(word)">
        <span class="word-text">{{ word }}</span>
        <span class="arrow-icon" [class.open]="isDropdownOpen(word)">&#9658;</span>
      </div>
      <span *ngIf="isDropdownOpen(word)">
        <ul class="definitions">
          <li *ngFor="let definition of wordCache.get(word).definitions">
            <p><strong>{{ definition.partOfSpeech }}</strong></p>
            <p>{{ definition.definitions[0].definition }}</p>
            <i *ngIf="definition.synonyms.length > 0"><strong>Synonyms:</strong> {{ definition.synonyms.join(', ') }}</i>
            <i *ngIf="definition.antonyms.length > 0"><strong>Antonyms:</strong> {{ definition.antonyms.join(', ') }}</i>
            <i *ngIf="definition.example"><strong>Example:</strong> {{ definition.example }}</i>
          </li>
        </ul>
        <hr>
        <div class="stats-header">POINTS</div>
        <ul class="stats">
          <li *ngFor="let letter of wordCache.get(word).stats" class="stats-item">
            <span class="letter-text">{{ letter.letter }} .......... {{ letter.points }}</span>
          </li>
          <p class="total-points"><strong>Total: {{ wordCache.get(word).totalPoints }}</strong></p>
        </ul>
      </span>
    </div>
  </div>
  <div class="post-game-buttons">
    <button class="button-success" (click)="playAgain()">PLAY AGAIN?</button>
    <button class="button-quit" (click)="quit()">QUIT</button>
  </div>
</div>

<div class="game-wrapper" *ngIf="hasGameStarted">
  <div *ngIf="highScore > 0" class="high-score">High Score: {{ highScore.toLocaleString() }}</div>
  <div class="header">
    <div class="header-chain-length">Chain Length: {{ wordChain.length }}</div>
    <h1 class="header-title">Link-A-Word</h1>
    <div class="header-score">Score: {{ score.toLocaleString() }}</div>
    <app-timer (timerFinished)="handleTimerFinished()"></app-timer>
  </div>
  <div class="next-letter">{{ nextLetter }}</div>
  <input
    #inputField
    type="text" 
    class="user-input" 
    (input)="onInput($event)"
    (keydown.enter)="onSubmit()"
    [(ngModel)]="userInput"
    [style.color]="userInputColor"
    [placeholder]="nextLetter"
  >
  <div class="word-chain">
    <div class="word-chain-row" *ngFor="let word of wordChain">
      <div class="word-chain-link">
        {{ word }}   &rarr;
      </div>
    </div>
  </div>
</div>
