body {
    background: radial-gradient(circle, #333333, #000000);
    color: white;
    font-family: 'Roboto Mono', monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0;
    padding: 0;
}

a {
    color: white;
    transition: color 0.3s ease;
}
a:hover {
    color: rgb(255, 0, 0);
}
a:visited {
    color: white;
}

.app-wrapper {
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.game-over-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
}

.game-over-wrapper > app-game-over {
    width: 100%;
    max-width: 100vw;
    padding: 20px;
    box-sizing: border-box;
}

.intro-text {
    width: 65%;
    text-align: center;
    background-color: #454545;
    padding: 20px;
    border-radius: 15px;
    border: 4px solid white;
    margin-bottom: 20px;
}

.intro-header {
    text-decoration: bold !important;
    font-size: 1.5em;
    padding: 20px;
}

.intro-sentence {
    font-size: 1em;
    padding: 20px;
}

.post-game-buttons {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 20px;
}

.button-success {
    background-color: #4CAF50;
    color: white;
    border: 5px solid #039c03;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 1.5em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-success:hover {
    background-color: #45a049;
}

.button-success:active {
    background-color: #3e874b;
    transform: translateY(2px);
}

.button-success:focus {
    outline: none;
}

.button-success:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.button-success:disabled:hover {
    background-color: #cccccc;
}

.button-quit {
    background-color: #DC143C;
    color: white;
    border: 5px solid #8B0000;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 1.5em;
    cursor: pointer;
}

.button-quit:hover {
    background-color: #B22222;
}

.button-quit:active {
    background-color: #800000;
    transform: translateY(2px);
}

.button-quit:focus {
    outline: none;
}

.button-quit:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.button-quit:disabled:hover {
    background-color: #cccccc;
}

.button-neutral {
    background-color: #707070;
    color: white;
    border: 5px solid #4a4a4a;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 1.5em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-neutral:hover {
    background-color: #5a5a5a;
}

.button-neutral:active {
    background-color: #494949;
    transform: translateY(2px);
}

.button-neutral:focus {
    outline: none;
}

.button-neutral:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.button-neutral:disabled:hover {
    background-color: #cccccc;
}

.high-score {
    color: #FFD700;
}

/* Media query for smaller screen sizes */
@media (min-width: 481px) and (max-width: 768px) {
  .intro-text {
    width: 80%;
  }

  .intro-header {
    font-size: 1.5em;
  }

  .intro-sentence {
    font-size: 0.9em;
  }

  .button-success,
  .button-quit,
  .button-neutral {
    font-size: 1.2em;
  }
}

/* Media query for mobile */
@media (max-width: 480px) {
  .intro-text {
    width: 75%;
  }

  .intro-header {
    font-size: 1.25em;
  }

  .intro-sentence {
    font-size: 0.8em;
  }

  .button-success,
  .button-quit,
  .button-neutral {
    font-size: 1em;
  }
}