<div class="app-wrapper">
  <h1 class="header">Link-A-Word</h1>
  <div class="next-letter">{{ nextLetter }}</div>
  <input
    #inputField
    type="text" 
    class="user-input" 
    (input)="onInput($event)"
    (keydown.enter)="onSubmit()"
    [(ngModel)]="userInput"
    [style.color]="userInputColor"
    [placeholder]="nextLetter"
  >
  <div class="word-chain">
    <div class="word-chain-row" *ngFor="let word of wordChain">
      <div class="word-chain-link">
        {{ word }}   &rarr;
      </div>
    </div>
  </div>
</div>