<div class="game-over">
  <h1>GAME OVER</h1>
  <h2>RESULTS:</h2>
  <h3>Chain Length: {{ wordChain.length }}</h3>
  <h3 *ngIf="score <= highScore">Score: {{ score.toLocaleString() }}</h3>
  <h3 class="high-score" *ngIf="score > highScore">NEW HIGH SCORE! {{ score.toLocaleString() }}</h3>
  <div class="chain-results">
    <h2>YOUR CHAIN</h2>
    <div class="chain-results-word" *ngFor="let word of wordChain">
      <div class="word-header" (click)="toggleDropdown(word)">
        <span class="word-text">{{ word }}</span>
        <span class="arrow-icon" [class.open]="isDropdownOpen(word)">&#9658;</span>
      </div>
      <span *ngIf="isDropdownOpen(word)">
        <ul class="definitions">
          <li *ngFor="let definition of wordCache.get(word).definitions">
            <p><strong>{{ definition.partOfSpeech }}</strong></p>
            <p>{{ definition.definitions[0].definition }}</p>
            <i *ngIf="definition.synonyms.length > 0"><strong>Synonyms:</strong> {{ definition.synonyms.join(', ') }}</i>
            <i *ngIf="definition.antonyms.length > 0"><strong>Antonyms:</strong> {{ definition.antonyms.join(', ') }}</i>
            <i *ngIf="definition.example"><strong>Example:</strong> {{ definition.example }}</i>
          </li>
        </ul>
        <hr>
        <div class="stats-header">POINTS</div>
        <ul class="stats">
          <li *ngFor="let letter of wordCache.get(word).stats" class="stats-item">
            <span class="letter-text">{{ letter.letter }} .......... {{ letter.points }}</span>
          </li>
          <p class="total-points"><strong>Total: {{ wordCache.get(word).totalPoints.toLocaleString() }}</strong></p>
        </ul>
      </span>
    </div>
  </div>
  <div class="post-game-buttons">
    <button class="button-success" (click)="playAgain()">PLAY AGAIN?</button>
    <button class="button-quit" (click)="quit()">QUIT</button>
  </div>
</div>
