.game-over {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: auto;
    padding: 30px;
}



.chain-results {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75vw;
}

.chain-results-word {
    display: flex;
    flex-direction: column;
    font-family: 'Times New Roman', Times, serif;
}

.chain-results-word {
    list-style: none;
    width: 65%;
    text-align: left;
    background-color: #454545;
    padding: 20px;
    border-radius: 15px;
    border: 4px solid white;
    margin-bottom: 20px;
}

.chain-results-word-header {
    text-align: center;
    font-size: 1.5em;
    text-decoration: bold;
}

.definitions li {
    padding: 10px 0;
}

.stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.stats-item {
    margin-bottom: 5px;
}

.word-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.stats-header {
    display: flex;
    justify-content: start;
    align-items: center;
    padding-top: 15px;
}

.word-text {
    font-size: 1.25em;
    text-decoration: bold;
}

.arrow-icon {
    font-size: 1.2em;
    transition: transform 0.2s ease;
}
.arrow-icon.open {
    transform: rotate(90deg);
}

.total-points {
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #FFD700;
}
