body {
    background: radial-gradient(circle, #333333, #000000);
    color: white;
    font-family: 'Roboto Mono', monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

