body {
    background: radial-gradient(circle, #333333, #000000);
    color: white;
    font-family: 'Roboto Mono', monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a {
  color: white;
  transition: color 0.3s ease;
}
a:hover {
  color: rgb(255, 0, 0);
}
a:visited {
  color: white;
}

.intro-text {
    width: 65%;
    text-align: center;
    background-color: #454545;
    padding: 20px;
    border-radius: 15px;
    border: 4px solid white;
    margin-bottom: 20px;
}

.intro-header {
    text-decoration: bold !important;
    font-size: 1.5em;
    padding: 20px;
}

.intro-sentence {
    font-size: 1em;
    padding: 20px;
}

.post-game-buttons {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 20px;
}

.button-success {
    background-color: #4CAF50;
    color: white;
    border: 5px solid #039c03;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 1.5em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-success:hover {
    background-color: #45a049;
}

.button-success:active {
    background-color: #3e874b;
    transform: translateY(2px);
}

.button-success:focus {
    outline: none;
}

.button-success:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.button-success:disabled:hover {
    background-color: #cccccc;
}

.button-quit {
  background-color: #DC143C;
  color: white;
  border: 5px solid #8B0000;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 1.5em;
  cursor: pointer;
}

.button-quit:hover {
  background-color: #B22222;
}

.button-quit:active {
  background-color: #800000;
  transform: translateY(2px);
}

.button-quit:focus {
  outline: none;
}

.button-quit:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.button-quit:disabled:hover {
  background-color: #cccccc;
}

.high-score {
    color: #FFD700;
}
