.menu-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: auto;
    padding: 30px;
}

.header-title {
    text-align: center;
}

.rules-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.game-rules {
    display: flex;
    flex-direction: column;
    width: 75vw;
}

.rule {
    padding: 10px 0;
}

.point-system {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
}

.point-system-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.point-system-list li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.back-button {
    text-decoration: none;
    font-size: 2em;
    padding-left: 20px;
}

#sort-button {
    width: 182px;
    margin-bottom: 20px;
    font-size: 1em;
}
